[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyyaml = "*"
sqlalchemy = "*"
aiopg = "*"
gino = "*"
alembic = "*"
psycopg2 = "*"
python-dotenv = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
